<section id="services-and-prices" class="services-prices section overlay">
  <div class="container">
    <p class="subtitle">
      Вас запевняємо, що цей перелік дозволяє виконати будь-який каприз.
    </p>
    <h2 class="title">Послуги</h2>
    <!-- Soft skills container -->
    <ul class="price-list"></ul>
    <div class="soft-skills-container">
      
      <ul>
        <li class="left-side">
        <li class="soft-skills-iten">
          <span class="soft-skills-tex">Комплексна мийка (мийка, рідкий віск, пилосос з багажником, натирання пластику,
            скла, гуми);</span>
        </li>
        <li class="soft-skills-iten">
          <span class="soft-skills-tex"
            >Безконтактна мийка;</span
          >
        </li>
        <li class="soft-skills-iten">
          <span class="soft-skills-tex">Натирання гуми, пластику, протирання скла;</span>
        </li>
        <li class="soft-skills-iten">
          <span class="soft-skills-tex">Експрес мийка (з піною);</span>
        </li>
        <li class="soft-skills-iten">
          <span class="soft-skills-tex">Експрес мийка (без піни);</span>
        </li>
        <li class="soft-skills-iten">
          <span class="soft-skills-tex">Прибирання салону (пилосос + вологе прибирання);</span>
        </li>
        <li class="soft-skills-iten">
          <span class="soft-skills-tex">Хімчистка дисків;</span>
        </li>
        <li class="soft-skills-iten">
          <span class="soft-skills-tex">Мийка двигуна;</span>
        </li>
        <li class="soft-skills-iten">
          <span class="soft-skills-tex">Мийка гумових (тканевих) килимів;</span>
        </li>
        <li class="soft-skills-iten">
          <span class="soft-skills-tex">Полірування кузова;</span>
        </li>
        <li class="soft-skills-iten">
          <span class="soft-skills-tex">Обробка скла засобом антидощ;</span>
        </li>
        <li class="soft-skills-iten">
          <span class="soft-skills-tex">Зняття бітому,смоли;</span>
        </li>
        <li class="soft-skills-iten">
          <span class="soft-skills-tex">Обробка шкіри салону;</span>
        </li>
        <li class="soft-skills-iten">
          <span class="soft-skills-tex">Чистка салону від шерсті;</span>
        </li>
        <li class="soft-skills-iten">
          <span class="soft-skills-tex">Мийка тканевих та гумових килимків;</span>
        </li>
        <li class="soft-skills-iten">
          <span class="soft-skills-tex">Твердий віск (механічна обробка);</span>
        </li>
      </ul>
    </div>
    
      <!-- <li class="left-side">
        <ul class="list catalog__list">
          <li class="catalog__item">
            <p class="master-subtitle">Комплексна мийка</p> -->
            <!-- <span class="price-underline"></span>
            <p class="price-list-value">
              (мийка, рідкий віск, пилосос з багажником, натирання пластику,
              скла, гуми)
            </p> -->
          <!-- </li>
          <li class="catalog__item">
            <p class="master-subtitle">експрес мийка (з піною)</p>
            <span class="price-underline"></span> -->
            <!-- <p class="price-list-value">от 200 грн.</p> -->
          <!-- </li>
          <li class="catalog__item">
            <p class="master-subtitle">експрес мийка (без піни)</p>
            <span class="price-underline"></span> -->
            <!-- <p class="price-list-value">от 200 грн.</p> -->
          <!-- </li> -->
          <!-- <li class="catalog__item">
            <p class="master-subtitle">
              Прибирання салону (пилосос + вологе прибирання)
            </p>
            <span class="price-underline"></span> -->
            <!-- <p class="price-list-value">от 200 грн.</p> -->
          <!-- </li>
        </ul>
      </li>
      <li class="right-side">
        <ul class="list catalog__list">
          <li class="catalog__item">
            <p class="master-subtitle">Хімчистка дисків</p>
            <span class="price-underline"></span> -->
            <!-- <p class="price-list-value">от 50 грн.</p> -->
          <!-- </li>
          <li class="catalog__item">
            <p class="master-subtitle">Мийка двигуна</p>
            <span class="price-underline"></span> -->
            <!-- <p class="price-list-value">от 200 грн.</p> -->
          <!-- </li>
          <li class="catalog__item">
            <p class="master-subtitle">Мийка гумових (тканевих) килимів</p>
            <span class="price-underline"></span> -->
            <!-- <p class="price-list-value">от 300 грн.</p> -->
          <!-- </li>
          <li class="catalog__item">
            <p class="master-subtitle" class="price-list-value">
              Полірування кузова
            </p>
            <span class="price-underline"></span> -->
            <!-- <p class="price-list-value">от 200 грн.</p> -->
          </li>
        </ul>
      </li>
    </ul>
    <div class="button-center">
      <a href="#clients-form-ref" class="button-contacts">онлайн-запис</a>
    </div>
  </div>
</section>

<!-- <div class="button-center">
      <a href="#clients-form-ref" class="button-contacts"
        >замовити прямо зараз</a
      >
    </div>
  </div>
</section> -->
